.cal {
    width: 300px;
    border: 15px solid green;
    padding: 40px;
    margin: 10px;
    text-align: center;
    margin-left: 35%;
    margin-top: 10%;
    border-radius: 10px;
    background-color: white;
}

body {
    background-color: black;
}

.head {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}